@font-face {
	font-family: 'QuantifyBold';
	src: url('../../assets/fonts/QuantifyBold.ttf')  format('truetype');
}
@font-face {
    font-family: 'SEGOEUIRegular';
	src: url('../../assets/fonts/SEGOEUI.ttf')  format('truetype');
}
@font-face {
    font-family: 'SEGOEUISemiBold';
	src: url('../../assets/fonts/seguisb_0.ttf')  format('truetype');
}

@font-face {
    font-family: 'ArialRegualr';
	src: url('../../assets/fonts/arial.ttf')  format('truetype');
}
@font-face {
    font-family: 'BirdsofParadise';
	src: url('../../assets/fonts/Birds-of-Paradise.ttf')  format('truetype');
}
@font-face {
    font-family: "Myriad Pro";
	src: url('../../assets/fonts/MyriadPro-Regular.otf')  format('truetype');
}


@font-face {
    font-family: "PRISTINA";
	src: url('../../assets/fonts/PRISTINA.TTF')  format('truetype');
}
